body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.header-container,
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e1e1e1;
  height: 12vh;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #a4e4f0;
  height: 76vh;
}

.hidden {
  opacity: 0;
}
